[submodule "gcc-arm-none-eabi-snapshot"]
	path = gcc-arm-none-eabi-snapshot
	url = https://github.com/ft/gcc-arm-none-eabi-snapshot.git
[submodule "gdb-binutils-arm-none-eabi-snapshot"]
	path = gdb-binutils-arm-none-eabi-snapshot
	url = https://github.com/ft/gdb-binutils-arm-none-eabi-snapshot.git
[submodule "newlib-snapshot"]
	path = newlib-snapshot
	url = https://github.com/ft/newlib-snapshot.git
[submodule "libstdc++-arm-none-eabi-newlib-snapshot"]
	path = libstdc++-arm-none-eabi-newlib-snapshot
	url = https://github.com/ft/libstdcxx-newlib-snapshot.git
